<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html;
charset=windows-1252">
<TITLE>Z50Bus board with address decoder</TITLE>
</HEAD>
<BODY LANG="fr-FR" DIR="LTR">
<P>This project template is the basis of an expansion board for the
<A HREF="http://linc.no/products/z50bus/" TARGET="blank">LiNC Z50Bus</A>
<BR><BR>This base project includes a PCB edge defined
as the same size as the Z50Bus standard (100mmx75mm) card, with the
connector placed correctly.<BR><BR>The board outline like the following:
</P>
<P><IMG SRC="z50-kicad-template.png" NAME="z50-kicad-template" ALIGN=BOTTOM
BORDER=0><BR><BR><BR><BR>
</P>
<P>(c)2023 Howard M. Harte<BR></P>
<P><A HREF="https://github.com/hharte/z50-kicad-template" TARGET="blank">https://github.com/hharte/z50-kicad-template
</A></P>
</BODY>
</HTML>